html {
	/*background-color: 'black';*/
}

body {
	width: 700;
	height: 500;
	background-image: url('../background.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.showmatch {
    background-color:yellow;   
   	font-size:30px;
}

#searcher {
	position:fixed; top:10px; right:10px;
}

#pending {
	font-family: 'Rubik', sans-serif;
	font-size: 24px;
	color: white;
}

#result {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	color: white;
}

#places_list {

    border: 1px solid #000000;
    background: #ffffff;
    line-height: 33px;
    padding-right: 10px;
    margin: 0px;

}

#places_list li {
    list-style-type: none;
    margin: 0px;
}

#places_list li:hover {
    background-color: lightgray;
}

#mapDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}